#define SECRET_SSID "YOURWIFISSID"
#define SECRET_PASS "YOURWIFIPASSWORD"

#define MQTT_IP "IP_OF_MQTT_BROKER"
#define MQTT_PORT 1883
#define SECRET_MQTT_USER "USER"
#define SECRET_MQTT_PASS "PASSWORD"