<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title> Batterie Information </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-list [inset]="true" mode="ios">
    <ion-item mode="ios">
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Spannung</p>
        <h1>{{data.voltage}} V</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="end"></ion-icon>
      <ion-label>
        <p>Strom</p>
        <h1>{{data.current}} A</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Prozent</p>
        <h1>{{data.percentage}} %</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <!-- <ion-icon aria-hidden="true" name="battery-charging-outline" slot="end"></ion-icon> -->
      <ion-label>
        <p>Status</p>
        <h1 *ngIf="data.charging == 0" class="warning-health-container">No charging</h1>
        <h1 *ngIf="data.charging == 1" class="good-health-container">Charging (float)</h1>
        <h1 *ngIf="data.charging == 2" class="good-health-container">Charging (boost)</h1>
        <h1 *ngIf="data.charging == 3" class="good-health-container">Charging (equalization)</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <!-- <ion-icon aria-hidden="true" name="medkit-outline" slot="end"></ion-icon> -->
      <ion-label>
        <p>Volt Status</p>
        <h1 *ngIf="data.volt_status == 0" class="good-health-container">Normal</h1>
        <h1 *ngIf="data.volt_status == 1" class="bad-health-container">Over Voltage</h1>
        <h1 *ngIf="data.volt_status == 2" class="bad-health-container">Under Voltage</h1>
        <h1 *ngIf="data.volt_status == 3" class="bad-health-container">Over Discharge</h1>
        <h1 *ngIf="data.volt_status == 4" class="bad-health-container">Fault</h1>
        <h1 *ngIf="data.volt_status > 4" class="bad-health-container">Unknown</h1>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- <ion-icon aria-hidden="true" name="medkit-outline" slot="end"></ion-icon> -->
      <ion-label>
        <p>Temp Status</p>
        <h1 *ngIf="data.temp_status == 0" class="good-health-container">Normal</h1>
        <h1 *ngIf="data.temp_status == 1" class="bad-health-container">Over Temperature</h1>
        <h1 *ngIf="data.temp_status == 2" class="bad-health-container">Low Temperature</h1>
        <h1 *ngIf="data.temp_status > 2" class="bad-health-container">Unknown</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item mode="ios">
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Spannung Min</p>
        <h1>{{data.voltage_min}} V</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Spannung Max</p>
        <h1>{{data.voltage_max}} V</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="thermometer-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Temperatur</p>
        <h1>{{data.temperature}} °C</h1>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>