<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title>
      PV Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-list [inset]="true" mode="ios">
    <ion-item mode="ios">
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Spannung</p>
        <h1>{{data.voltage}} V</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="end"></ion-icon>
      <ion-label>
        <p>Strom</p>
        <h1>{{data.current}} A</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Power</p>
        <h1>{{data.power}} W</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="stats-chart-outline" slot="end"></ion-icon>
      <ion-label>
        <p>PV Status</p>
        <h1 *ngIf="data.status == 0" class="good-health-container">Normal</h1>
        <h1 *ngIf="data.status == 1" class="warning-health-container">No input</h1>
        <h1 *ngIf="data.status == 2" class="bad-health-container">Too high</h1>
        <h1 *ngIf="data.status == 3" class="bad-health-container">Input error</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item mode="ios">
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Erzeugt (Heute)</p>
        <h1>{{data.generated_today}} kWh</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="end"></ion-icon>
      <ion-label>
        <p>Erzeugt (Monat)</p>
        <h1>{{data.generated_month}} kWh</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Erzeugt (Jahr)</p>
        <h1>{{data.generated_year}} kWh</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Erzeugt (Total)</p>
        <h1>{{data.generated_total}} kWh</h1>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>