<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title> Load Information </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">


  <ion-list [inset]="true" mode="ios">
    <ion-item mode="ios">
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Spannung</p>
        <h1>{{data.voltage}} V</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="end"></ion-icon>
      <ion-label>
        <p>Strom</p>
        <h1>{{data.current}} A</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Power</p>
        <h1>{{data.power}} W</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item mode="ios">
      <ion-icon aria-hidden="true" name="flash-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Konsumiert (Heute)</p>
        <h1>{{data.consumed_today}} kWh</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="end"></ion-icon>
      <ion-label>
        <p>Konsumiert (Monat)</p>
        <h1>{{data.consumed_month}} kWh</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Konsumiert (Jahr)</p>
        <h1>{{data.consumed_year}} kWh</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="battery-half-outline" slot="end"></ion-icon>
      <ion-label>
        <p>Konsumiert (Total)</p>
        <h1>{{data.consumed_total}} kWh</h1>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true" mode="ios">
    <ion-item>
      <!-- <ion-icon aria-hidden="true" name="stats-chart-outline" slot="end"></ion-icon> -->
      <ion-label>
        <p>Load Status</p>
        <h1 *ngIf="data.status == 0" class="danger-container">Off</h1>
        <h1 *ngIf="data.status == 1" class="success-container">On</h1>
      </ion-label>
      <ion-toggle justify="end" [checked]="getLoadState(data.status)" (ionChange)="toggleLoadState()"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>