<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pv" href="/tabs/pv">
      <ion-icon aria-hidden="true" name="sunny-outline"></ion-icon>
      <ion-label>PV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="battery" href="/tabs/battery">
      <ion-icon aria-hidden="true" name="battery-half-outline"></ion-icon>
      <ion-label>Batterie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="load" href="/tabs/load">
      <ion-icon aria-hidden="true" name="flash-outline"></ion-icon>
      <ion-label>Load</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>